		<div class="col-sm-4">
			<!--<div class="panel panel-default">
				<div class="panel-body">
				<h3>Categories</h3>
				<hr/>
				<ul>
					<li><a href="/articles/categorie/songs">Songs</a></li>
					<li><a href="/articles/categorie/mixtapes">Mixtapes</a></li>
					<li><a href="/articles/categorie/albums">Albums</a></li>
					<li><a href="/articles/categorie/streetwear">Streetwear</a></li>
				</ul>

			</div>
		</div>-->
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="twitter-timeline" href="https://twitter.com/TechCrunch" data-widget-id="608792062121500672">Tweets by @techcrunch</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>

		</div>


