<br>
<br>

	<div class="container articlesWrapper footer">
		<div class="container">
			<ul style="float: left">
          		<li><a href="#"><!-- &copy; --> <i class="fa fa-heartbeat"></i> CMS Software 2015</a></li>
			</ul>
			<ul style="float: right">
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
	</div>