

    <h1 style="text-align: center; font-size: 48px"><a href="/" style="color: #4E4E4E; text-decoration: none">CMS Software</a></h1>
    <hr class="hr-fixed"/>
    <ul id="nav">
      <li><a href="/articles/" <% if(global.page === 'new') {%>style="color: black"<% } %>>New</a></li>
      <li><a href="/articles/hot">Hot</a></li>
      <li><a href="/about" <% if(global.page === 'about') {%>style="color: black"<% } %>>About</a></li>
      
    </ul>



<a href="#" id="back-to-top" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up" style="margin-top: 10"></span></a>

<style>
#back-to-top {
text-align: center;
background: white;
opacity: 0.6;
margin: 10;
position: fixed;
bottom: 50;
right: 0;
z-index: 100;
width: 50px;
height: 50px;
display: none;
}

#back-to-top i {
  font-size: 60px;
}
</style>

<script>
jQuery(document).ready(function() {
  $('#back-to-top').hide();
    var offset = 100;
    var duration = 300;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('#back-to-top').fadeIn(duration);
        } else {
            jQuery('#back-to-top').fadeOut(duration);
        }
    });

    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    })
});
</script>


