/*

 _____       _ _                          _   _           _ _           
/  __ \     | | |                        | \ | |         | | |          
| /  \/ ___ | | |_ _ __ __ _ _ __   ___  |  \| | __ _  __| | | ___ _ __ 
| |    / _ \| | __| '__/ _` | '_ \ / _ \ | . ` |/ _` |/ _` | |/ _ \ '__|
| \__/\ (_) | | |_| | | (_| | | | |  __/ | |\  | (_| | (_| | |  __/ |   
 \____/\___/|_|\__|_|  \__,_|_| |_|\___| \_| \_/\__,_|\__,_|_|\___|_|   
                                                                        
                                                                        


*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: #333333 top no-repeat fixed;
}

#nav a {
	color: #00B8B8;
    text-decoration: none;

}

#nav a:hover {
	color: #66D4D4;
    text-decoration: none;
}

.articlesWrapper {
	margin-top: 0px;
	background-color: white;
	/*
	background-color: #EBEBEB;
	*/
	padding-top: 20px;
	padding-bottom: 230px;
}

hr {
	border-color: #A9A9A9;
}

.hr-fixed { 
	width: 100%;
	padding: 0;
	border: 2px solid #333333;
}


#nav {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#nav li {
	display: inline;
	padding-left: 6px;
	padding-right: 6px;
}

#nav li a {
	font-family: 'Ubuntu', 'sans-serif';
	font-size: 20px;
}

#nav li a:hover {
	color: #66D4D4;
    text-decoration: none;
}

.navbar {
	padding-bottom: -3;
	margin-bottom: 0;
}

.navbar-default {
	background: #00CCCC;
	padding-bottom: 20px;
	margin-bottom: -20px;
	border: 0;
}

.navbar-nav {
	margin-top: 20px;
}

.top li {
	display: inline;
	padding: 4px;
	margin-top: -10px;
	padding-top: -10px;
}

.top li a {
	color: #808080;
}

.top li a:hover {
	color: #4D4D4D;
}

