<html>

<% global.page = null %>
	<%- include ../partials/head.ejs %>
	
	<body>
<div style="border: 4px solid #232323; background: #232323; height: 38px;">
  <ul class="top" style="display: inline; float: right; padding: 8px; padding-right: 30px; padding-top: -10px; margin-top: -5px">
    <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
  </ul>
</div>

	<div class="container articlesWrapper">
	<br><br><br>
		<%- include ../partials/header.ejs %>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-8">
			<div class="tab tab-pane">
				<div class="tab-pane body" style="text-align: center">
					<h3 style="color: black">404 ked</h3>
				</div>
			</div>
			</div>
			<div class="tab tab-pane">
			<div class="tab-pane body">
			<%- include ../partials/categories.ejs %>
			</div>
			</div>

		</div>
	</body>
</html>