<html>
	<%- include ../partials/head.ejs %>
	
	<body>
		<%- include ../partials/header.ejs %>

		<div class="container">
			<div class="tab tab-pane">
				<div class="tab-pane body">
					<h3>404 ked</h3>
				</div>
			</div>
		</div>
	</body>
</html>