<html>
	<%- include ../partials/head.ejs %>
	
	<body>
	<div style="border: 16px solid black; background: black"></div>

	<div class="container articlesWrapper">
	<br><br><br>
		<%- include ../partials/header.ejs %>
		<br>
		<br>
		<br>
		<br>
			<div class="tab tab-pane">
				<div class="tab-pane body" style="text-align: center">
					<h3 style="color: black">404 ked</h3>
				</div>
			</div>
		</div>
	</body>
</html>