<html>

<% global.page = 'post' %>
<%- include ../partials/head.ejs %>

<body>

<div style="border: 4px solid #232323; background: #232323; height: 38px;">
  <ul class="top" style="display: inline; float: right; padding: 8px; padding-right: 30px; padding-top: -10px; margin-top: -5px">
    <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
  </ul>
</div>

  <div class="container articlesWrapper">
  <br><br><br>
    <%- include ../partials/header.ejs %>
  
		<div class="panel panel-default">
  			<div class="panel-body">
		<h1>New Post</h1>
		<hr/>
		<form method="post" action="/articles">
			<div class="form-group">
			<label>Title</label>
			<input type="text" class="form-control" placeholder="title" name="title" required/>
			<br>
			</div>
			<div class="form-group">
			<label>Post</label>
			<textarea type="text" class="form-control" rows="10" placeholder="Today while doing something cool..." name="body" required></textarea>
			</div>
			<br>
     <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" name="thumb" placeholder="http://bla.com/bla.png" required/>
      </div>
			<br> 
			<br>
			<button type="submit" class="btn btn-default">Post!</button>
    </form>
		</div>
		</div>



	</div>
</body>


</html>



<!-- 
    <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios1" value="songs" checked="">
            Songs
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="mixtapes">
            Mixtapes
          </label>
      </div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="albums">
            Albums
          </label>
      </div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="streetwear">
            Streetwear
          </label>
      </div>

      -->