<html>

<head lang="en">
	
	<title>New</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://bootswatch.com/journal/bootstrap.min.css">

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>

	<%- include ../partials/header.ejs %>

	<div class="container">
	<br>
	<br>
		<div class="panel panel-default">
  			<div class="panel-body">
		<h1>New Post</h1>
		<hr/>
		<form method="post" action="/articles">
			<div class="form-group">
			<label>Title</label>
			<input type="text" class="form-control" placeholder="title" name="title"/>
			<br>
			</div>
			<div class="form-group">
			<label>Post</label>
			<textarea type="text" class="form-control" placeholder="Today while sucking on a dick..." name="body"></textarea>
			</div>
			<br>
			<label>Categorie</label>
    <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios1" value="songs" checked="">
            Songs
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="mixtapes">
            Mixtapes
          </label>
    	</div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="albums">
            Albums
          </label>
    	</div>
        <div class="radio">
          <label>
            <input type="radio" name="categorie" id="optionsRadios2" value="streetwear">
            Streetwear
          </label>
    	</div>
			<br>
			<br>
			<button type="submit" class="btn btn-default">Post!</button>
    </form>
		</div>
		</div>



	</div>
</body>


</html>